body {
    margin: 0;
    background-color: #eee;
    color: #111;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.center-both-axis {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 0 0 5px 0;
}

.controls {
    margin: 0 0 5px 0;
}

.new {
    color: #fff;
    background: #28a745;
}

.delete {
    color: #fff;
    background: #dc3545
}